/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2020, 8:14:23 PM
    Author     : Hp
*/


form {
    background-color: rgb(255, 196, 0);
    font-size: 20px;
    border: 1px solid white;
    padding: 20px;
    margin-top: 25vh;
    margin-bottom: 40vh;
    border-radius: 10px;
    box-shadow: 2px -5px 76px -17px rgba(245, 240, 245, 1);
}

h3 {
    color: white;
    font-family: Georgia;
}

body{
    background-image: url('../img/hotel8.jpg');
    background-size: cover;
}
footer {
    margin-top: 15vh;
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: rgb(255, 196, 0); ;
    background-size: cover;
    padding: 20px;
    border: 5px solid white;
    border-spacing: 10px;
  }
  .soc {
    width: 100px;
    height: 55px;
  }
  
  .soc ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .soc ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  .soc ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  .soc ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .soc ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  .soc ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  .copyright {
    color:  white ;
    font-size: 22px;
    position: relative;
    top: 30px;
    left: -30%
  }